//
   Created by stephanfitzpatrick on 6/15/17.
extends layout

block content
    .content
        h1: span.font-semi-bold Pyramid
        p.lead: span.font-semi-bold 404
            span Page Not Found
